.wrapper {
    width: 1280px;
    margin: 0 auto;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
.logo {
    margin: 61px 0 45px;
}
.logo a {
    font-size: 74px;
    text-decoration: none;
}
.color1 {
    color: black;
}
.color2 {
    color: #4bcaff;
}
.inline a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    margin: 20px 30px;
}
ul.inline {
    margin: 0;
    padding: 0;
    background-color: #35444f;
    text-align: center;
}
ul.inline li {
    display: inline-block;
}
.inline li:hover {
    background-color:#222f3a;
    border-right: 1px solid #f7f7f7;
    border-left: 1px solid #f7f7f7;
}
ul.horizont li {
    list-style-type: none;
    padding: 20px 40px;
}
.horizont a {
    text-decoration: none;
    color: #485863;
    font-size: 25px;
}
.horizont li:hover {
    background: #222f3a;
    padding-left: 80px;
    transition: all .0s linear;
    -webkit-transition: all 3s linear;
    -moz-transition: all .3s linear;
}
.container {
    margin: 40px 0;
}
.right-menu {
    display: inline-block;
    margin-right: 40px;
    width: 340px;
    vertical-align: top;
}
.content {
    font-size: 18px;
    color: #2c2c2c;
    width: 900px;
    display: inline-block;
}
.line a {
    background-color: #dbdbdb;
}
ul.line li {
    display: inline-block;
    font-size: 26px;
    text-decoration: none;
}
.horizont {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
.inline {
    border: 1px solid black;
    width: 1280px;
}
.picture {
    border: 1px solid black;
    width: 900px;
    text-align: center;
}
.footer {
    border: 1px solid rgb(250, 250, 250);
    height: 69px;
    width: 1280px;
    background-color: #b4b7ba;
}
.line {
    margin: 18px 0;
    padding-left: 40px;
}

.line a {
    background: none;
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

.line a:hover {
    color: #3181a6;
    text-decoration: underline;
}
.copyright {
    font-size: 23px;
    color: #19191a;
    line-height: 69px;
    padding-right: 40px;
}
